<div class="app">
  <div class="header">
    <div class="header__selector">
      <div class="select-btn">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <app-article-list></app-article-list>
    </div>
    <div class="header__search"></div>
    <div class="header__bookmarks"></div>
    <div class="header__menu"></div>
  </div>

  <div class="main">
    <app-article-list></app-article-list>
  </div>
</div>